.about-page {
    position: relative;
    height: 200vh;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;

}

.hero-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 200vh;
    max-height: 200%;
    z-index: 1;
    pointer-events: none; /* so text can scroll over it if needed */
  
    
}

.about-text-box {
    position: relative;
    max-width: 700px;
    z-index: 2;
    max-height: 90vh;
    overflow-y: auto;
     
}
.about-text-box h2 {
    color: #dceff5;
}

.about-text-box p {
    text-indent: 1.5rem;      /* ✅ Indent first line */
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 2rem;      /* ✅ Add spacing between paragraphs */
    color: #dceff5;
}

.about-text-box h3 {
    text-indent: 3rem;       
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 2rem;      /* ✅ Add spacing between paragraphs */
    margin-top: 2rem;
    
}

.about-the-creator {
    position: relative;
    max-width: 800px;
    margin-top: 2rem;
    z-index: 2;
    max-height: 200vh;
    overflow-y: auto;
}

.about-the-creator h1{
    color: #e3f2f6;
}

.about-the-creator h3 {
    
    text-indent: 3rem;      /* ✅ Indent first line */
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 1rem;      /* ✅ Add spacing between paragraphs */
    color: #e3f2f6;
}
  

.about-the-creator p {
    color: #e7f6f6;
    text-indent: 1.5rem;      /* ✅ Indent first line */
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 5rem;      /* ✅ Add spacing between paragraphs */
    margin-top: 1rem;
}

.creator-link {
    color: rgb(19, 54, 230);
    font-weight: 600;
    
}