.about-page {
    position: relative;
    height: 150vh;
   
   

}

.hero-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 200vh;
    max-height: 100%;
    z-index: 1;
   
  
    
}

.about-text-box 
{
    position: relative;
    max-width: 1000px;
    z-index: 2;
   
   
  
   
    min-width: 600px;
     
}
.about-text-box h2 {
    color: #dceff5;
     
     
    
}

.about-text-box p {
    text-indent: 3rem;      /* ✅ Indent first line */
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 2rem;      /* ✅ Add spacing between paragraphs */
    color: #dceff5;
    font-size: x-large
}

.about-text-box h3 {
    text-indent: 2rem;       
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 2rem;      /* ✅ Add spacing between paragraphs */
    margin-top: 2rem;
    
}
 h3 {
    color: #ecfbfc;
    font-weight: 600;
}

.about-the-creator {
    position: relative;
    max-width: 1000px;
    margin-top: 2rem;
    z-index: 2;
    max-height: 200vh;
   
    min-width: 200px;
    margin-bottom: 2rem;
}

.about-the-creator h1{
    color: #e3f2f6;
    
}

.about-the-creator h3 {
    
    text-indent: 3rem;      /* ✅ Indent first line */
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 1rem;      /* ✅ Add spacing between paragraphs */
    color: #e3f2f6;
}
  

.about-the-creator p {
    color: #e7f6f6;
    text-indent: 3rem;      /* ✅ Indent first line */
    line-height: 2;         /* ✅ Add spacing between lines */
    margin-bottom: 7rem;      /* ✅ Add spacing between paragraphs */
    margin-top: 3rem;
    font-size: x-large;
}

.creator-link {
    color: rgb(247, 156, 250);
    font-weight: 500;
    font-size: x-large;
    margin-left: 10rem;
    z-index: 10;
    
    
}